@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Satoshi';
  src: url('./fonts/Fonts/WEB/fonts/Satoshi-Light.woff') format('woff'),
    url('./fonts/Fonts/WEB/fonts/Satoshi-Light.woff2') format('woff2'),
    url('./fonts/Fonts/WEB/fonts/Satoshi-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./fonts/Fonts/WEB/fonts/Satoshi-Regular.woff') format('woff'),
    url('./fonts/Fonts/WEB/fonts/Satoshi-Regular.woff2') format('woff2'),
    url('./fonts/Fonts/WEB/fonts/Satoshi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./fonts/Fonts/WEB/fonts/Satoshi-Medium.woff') format('woff'),
    url('./fonts/Fonts/WEB/fonts/Satoshi-Medium.woff2') format('woff2'),
    url('./fonts/Fonts/WEB/fonts/Satoshi-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./fonts/Fonts/WEB/fonts/Satoshi-Bold.woff') format('woff'),
    url('./fonts/Fonts/WEB/fonts/Satoshi-Bold.woff2') format('woff2'),
    url('./fonts/Fonts/WEB/fonts/Satoshi-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}

* {
  font-family: 'Satoshi', Arial, sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Satoshi', Arial, sans-serif;
}

.vehicle-image-wrapper {
  width: 650px; /* Fixed width */
  height: 300px; /* Fixed height */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
.vehicle-image-wrapper.slide-in {
  animation-name: slide-in;
}

.vehicle-image-wrapper.slide-out {
  animation-name: slide-out;
}

.fixed-dimensions {
  width: 100%; /* Ensure image fits the container */
  height: 100%; /* Maintain fixed height */
  object-fit: contain; /* Ensure proper aspect ratio */
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.notesRec{
  width: clamp(300px, 100%, 800px);
  /* border: solid; */
}
.notesRec h2{
  font-size: clamp(1.2rem, 2.5vw, 1.8rem);
}
.timers {
  position: relative;
}

.timers::before, 
.timers::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.timers::before {
  left: 0; /* Adjust to control the left triangle position */
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  border-width: 10px 10px 10px 0; /* Adjust triangle size */
  border-color: transparent #000000 transparent transparent; /* Triangle color */
}

.timers::after {
  right: 0; /* Adjust to control the right triangle position */
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  border-width: 10px 0 10px 10px; /* Adjust triangle size */
  border-color: transparent transparent transparent #000000; /* Triangle color */
}
@media (max-width: 500px){
  .timers::before {
    border-width: 9px 9px 9px 0; /* Adjust triangle size */
  }
  
  .timers::after {
    border-width: 9px 0 9px 9px; /* Adjust triangle size */
  }
}